
<section class="database-sidebar col--40">
<div class="container--sm text--center text--light" >
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
  </div>
</section>
